*                   @kebe7jun
/.github/           @merbridge/infra-maintainers
/Makefile           @merbridge/infra-maintainers
/Dockerfile         @merbridge/infra-maintainers
/.gitignore         @merbridge/infra-maintainers
/.golangci.yml      @merbridge/infra-maintainers
/.clang-format      @merbridge/infra-maintainers
/deploy             @merbridge/infra-maintainers
/helm               @merbridge/infra-maintainers
/cmd/               @merbridge/control-plane-maintainers
/internal/          @merbridge/control-plane-maintainers
/pkg/               @merbridge/control-plane-maintainers
/go.*               @merbridge/control-plane-maintainers
/bpf/               @merbridge/ebpf-prog-maintainers
*.md                @merbridge/docs-maintainers
